[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "public"]
	path = public
	url = git@github.com:yagudin/yagudin.github.io.git
	branch = master
